POSTGRES_USER=monitor_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_SERVER=postgres-db
POSTGRES_PORT=5432
POSTGRES_DB=web_monitor

REDIS_HOST=monitor_redis
REDIS_PORT=6379

GF_SECURITY_ADMIN_PASSWORD=your_grafana_password_here

API_HOST=0.0.0.0
API_PORT=8000
